<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/categoria">Categoria</button>
    <button mat-button>Test 1</button>
    <button mat-button>Test 1</button>
    <span class="example-spacer"></span>
    <mat-icon>logout</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
